body {
    width: 90%;
    margin: 0;
}
ul {
    width: 100%;
    padding: 0;
}
li {
    display: inline-block;
      margin: 0 0 1.2em;
}
main {
    width: 100%;
    display: block;

}
aside {
    width: 100%;
    display: block;
    margin: 1em 0 0 0;
    position: relative;
}
article {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
a {
    background-color: pink;
    color: black;
    padding: 0.5em;
    text-decoration: none;
}
