* {
    box-sizing: border-box;
}
body {
    width: 100%;
}
ul {
    width: 100%;
    margin: 0 auto;
}
li {
    display: inline;
    margin-right: 2em;
}
a {
    text-decoration: none;
    color: black;
    background-color: pink;
    padding: 1em;
    margin: 1em;

}
nav {
    text-align: center;
}
main {
    width: 70%;
    display: inline-block;
    vertical-align: top;
    margin-top: 3em;
}
article {
    width: 32%;
    display: inline-block;
    vertical-align: top;
}
aside {
    /*margin: 0 0 0 30em;*/
    /*position: fixed;*/
    /*top: 3em;*/
    width: 20%;
    box-sizing: border-box;
    display: inline-block;
    padding-top: 2em;
}
figure {
    margin: 0;
}
