
body {
    width: 900px;

}
ul {
    width: 800px;
}
li {
    display: inline;
}
main {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
aside {
    /*margin: 0 0 0 30em;*/
    /*position: fixed;*/
    /*top: 3em;*/
    width: 40%;
    box-sizing: border-box;
    display: inline-block;
}

@media (max-width:400px) {
    body {
        width: 90%;
        margin: 0;
    }
    ul {
    width: 100%;
    padding: 0;
    }
    li {
        display: inline-block;
    }
    main {
        width: 100%;
        display: block;

    }
    aside {
        width: 100%;
        display: block;
        margin: 1em 0 0 0;
        position: relative;
    }
}
